.nav{
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 1px 8px grey;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    margin-top: -60px;
    overflow: hidden;
}

.logo{
    display: flex;
    height: 25px;
    padding-left: 45%;
}
